<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form id="post-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="form-group title-bg">
              <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="content" formControlName="content"
                placeholder="What's on your mind?"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




  <div class="row mt-4">
    <div class="col-md-8 mx-auto">
      <div *ngFor="let post of posts">
        <div id="title" class="d-flex justify-content-between align-items-center mb-3">
          <h5>{{ post.title }}</h5>
          <p id="username" class="mb-0"><a [routerLink]="['/users', post.userDto?.username]" style="color: orange">{{
              post.userDto?.username }}</a></p>
        </div>
        <div class="card card-custom mb-3">
          <div class="card-body">
            <!-- <h5 class="card-title">{{ post.title }}</h5> -->
            <p class="post-date">{{post.createdAt | date:'MMM d, y, h:mm a'}}</p>
            <p class="card-text">{{ post.content }}</p>
            <!-- <p class="card-text">Author: {{ post.userDto?.username }}</p> -->
            <div class="dropdown" ml-auto *ngIf="authenticatedUser?.id === post.userDto?.id">
              <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                ...
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               
                <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editPostModal"
                (click)="openEditModal(post)">Edit Post</button>
              
                <button class="dropdown-item" (click)="deletePost(post.id)">Delete</button>
              </div>
            </div>
            <div class="wrapper">
              <div class="button-container">
                <div class="d-flex justify-content-between align-items-center ">
                  <div class="btn-group position-relative">
                    <button id="comment-btn" (click)="showCommentsMap[post.id] = !showCommentsMap[post.id]"
                      class="btn btn-secondary btn-sm">{{ showCommentsMap[post.id] ? 'Hide comments' : 'Show comments'
                      }}</button>
                    <button class="btn btn-primary btn-sm" (click)="onLike(post.id)">
                      {{ isPostLiked(post.id) ? 'Unlike' : 'Like' }}
                    </button>
                  </div>
                  <span class="likes" (click)="showLikes(post.id)">
                    <i class="fas fa-heart"></i> {{ likeCounts[post.id] || 0 }}
                  </span>

                  <!-- add this to your main template -->
                  <div class="likes-modal" *ngIf="showLikesModal">
                    <div class="likes-modal-content">
                      <h2>Likes</h2>
                      <ul>
                        <li *ngFor="let username of likedUsernames">{{ username }}</li>
                      </ul>
                      <button class="close-button" (click)="closeLikesModal()">X</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="comments" class="mt-3" *ngIf="showCommentsMap[post.id]">
          <hr>
          <h6>Comments</h6>
          <ul class="list-unstyled">
            <li *ngFor="let comment of post.comments" class="my-3">
              <div class="media">
                <div class="media-body">
                  <div class="d-flex justify-content-between">
                    <h6 class="mt-0 mb-1">{{ comment.userDto?.username }}</h6>
                    <div class="dropdownComment  ml-auto"
                      *ngIf="(authenticatedUser?.id === comment.userDto?.id || authenticatedUser?.id === post.userDto?.id)">
                      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        ...
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button type="button" class="btn btn-primary" (click)="editComment(comment)">Edit</button>
                        <button class="dropdown-item" (click)="deleteComment(comment.id,post.id)">Delete</button>
                      </div>
                    </div>
                  </div>
                  <p *ngIf="!editModeMap[comment.id]">{{ comment.content }}</p>
                  <form [formGroup]="commentEditForm" *ngIf="editModeMap[comment.id]" (ngSubmit)="saveComment(comment.id, post.id)">
                    <div class="form-group">
                      <textarea class="form-control" rows="2" placeholder="Edit comment..." formControlName="content"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary btn-sm">Save</button>
                      <button type="button" class="btn btn-secondary btn-sm" (click)="cancelEdit(comment.id)">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </li>
          </ul>
          <hr>
          <div class="form-group">
            <form id="comment-form" [formGroup]="commentForm" (ngSubmit)="comment(post.id)">
              <div class="media">
                <div class="media-body">
                  <div class="form-group">
                    <textarea class="form-control" rows="2" placeholder="Write a comment..."
                      formControlName="content"></textarea>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>   
      <div class="modal" id="editPostModal" [class.show]="showEditModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="postTitleInput">Title</label>
                        <input type="text" class="form-control" id="postTitleInput" name="postTitle" [(ngModel)]="editedPostTitle" [ngModelOptions]="{ standalone: true }">
                    </div>
                    <div class="form-group">
                        <label for="postContentInput">Content</label>
                        <textarea class="form-control" id="postContentInput" name="postContent" rows="3" [(ngModel)]="editedPostContent" [ngModelOptions]="{ standalone: true }"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeEditModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="updatePost()">Save changes</button>
            </div>
        </div>
    </div>
</div>

    </div>
  </div>