<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <form [formGroup]="menuItemForm" (ngSubmit)="onSubmit()">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">

      <label for="category">Category:</label>
      <select id="category" formControlName="categoryId">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>

      <label for="dorm">Student Dorm:</label>
      <select id="dorm" formControlName="studentDormId">
        <option *ngFor="let dorm of dorms" [value]="dorm.id">{{ dorm.dormName }}</option>
      </select>

      <label for="date">Date:</label>
      <input type="date" id="date" formControlName="date">

      <label for="startTime">Start Time:</label>
      <input type="text" id="startTime" formControlName="startTime">

      <label for="endTime">End Time:</label>
      <input type="text" id="endTime" formControlName="endTime">

      <button type="submit">Update</button>
    </form>
  </div>
</div>