.container{
  padding-top: 100px;
}

.register-form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 400px;
  box-shadow: 0px 0px 10px #ddd;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input,
select {
  background-color: white;
  color: black;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"]{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 16px;
}


button {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  margin:5px;
}

button:hover {
  background-color: #ff6600;
}
